body {
  background-image: url(/images/background.jpg);
  background-color: rgb(219, 219, 219);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
